<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>File Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select File:</label>
        <input type="file" id="file" name="file" required>
        <br>
        <label for="password">Set Password </label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">Upload File</button>
    </form>
</body>
</html>
